* {
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
    /* font-family: 'Roboto', sans-serif; */
    user-select: none;
}

body {
    background-color: #222 !important;
}

.main-container {
    display: grid;
    grid-template-rows: 40px auto;
    height: 100vh;
    transition: .5s;
    margin-left: 56px;
}

header {
    display: flex;
    color: #fff;
}

header h3 {
    border: none;
    display: flex;
    background-color: #0000;
    margin: .15rem 0;
}

main {
    transition: margin-left .5s;
    padding: .4rem 1rem 1rem;
    margin-left: 0;
}

.main-container hr {
    border-top: 1px solid #fff;
    margin: 0px 0 15px;
}
/* #region  Formulario */
/* Geral */
input {
    display: block;

    margin: .4rem 0 .8rem;
    padding: 2px;
    
    background-color: #fff;
    
    border-radius: 2px;
    border: none;
}

input[type=submit] {
    padding: 4px 8px;
}

input[type=submit]:hover {
    background-color: #ddd;
}

input[type=submit]:active {
    background-color: #3284ff;
    color: #fff;
}

label {
    display: block;
    font-weight: bold;
    margin: 0 0 0;
    color: #fff;
}

/* Caixas de marcar */
.chk-box,
.chk-box input {
    display: inline-block;
}

.chk-box {
    margin: 0 .1rem;
}

.chk-box input {
    margin: 0 0 .8rem;
}

.chk-box p {
    color: #fff;
    margin: -.2rem 0 -.2rem;
}

/* #endregion */
/* #region  Serviços */
/* table tr {
    display: grid;
    grid-template-columns: 15% 15% 15% auto 5%;
} */

table td {
    text-align: left;
}

/* #endregion */
/* #region  Configurações Barbearia */



/* #endregion */
/* #region  Barra Lateral */

header #sidebar-toggle {
    color: #eee;
    border: none;
    display: flex;
    background-color: #0000;
    margin: .5rem 1rem;
}

#sidebar {
    overflow-x: hidden;
    background-color: #111 !important;
    padding: .4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 56px;
    transition: .5s;
    overflow-x: hidden;
}

#sidebar a {
    transform-origin: left;
    color: #eee;
    text-decoration: none;
    display: block;
    padding: 1rem 0;
    white-space: nowrap;
}

#sidebar a p {
    display: inline-flex;
    white-space: nowrap;
    width: 0;
    opacity: 0;
    transition: .3s;
}

#sidebar a:first-child {
    padding-top: 0;
}

#sidebar hr {
    border-top: 1px solid #fff;
    margin: 0 0 0 0.5rem;
}

#sidebar-toggle i {
    font-size: 1.5rem;
}

#brand-name {
    display: flex;
    flex: row;

    text-decoration: none;
    color: black;
    margin: .2rem 0 2rem;
    padding: 0;
}

#brand-name img {
    max-width: 35px;
    max-height: 35px;
    margin: auto 5px auto 5px;
}

#brand-name h5 {
    margin: auto 0;
    color: #fff
}

.sidebar-shortcut:hover {
    color: #15c;
    transform: scale(109%);
    transform-origin: left;
    transition: .2s;
}

.sidebar-shortcut {
    transform-origin: left;
    margin: 0 .5rem;
    transition: .2s;
}

.sidebar-link-name {
    margin-left: .1rem;
}

.sidebar-shortcut i {
    font-size: 1.2rem;
}

.table-container {
    padding: 0 1rem 0;
}

/* #endregion */
/* #region  Formulario de Configuração */
#configuration-form input {
    margin-bottom: 1rem
}

/* #endregion */