{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Scripts -->
    <script src="{% static '/configuracoes/configure-shop.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    
    <!-- Styles -->
    <link rel="stylesheet" href="{% static '/configuracoes/configProducts.css' %}">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>


</head>
<body>

    <input type="hidden" name="csrfmiddlewaretoken" value="yvPEOr45z7agt3GsfhObJEMUllc28KSziUcInkKtqEo494wMu8U6MpNYhyFNPZew">

    <header>
        <a href="{% url 'Mainpage' %}"><h5>Retornar</h5></a>
        <h1>Configurar Produtos</h1>
    </header>
    <main>
        <!--  -->
        <div>
            <h3>Lista de Produtos</h3>
            <h5>Barbearia: <span id="shop-name"></span></h5>
        </div>

        <hr>

        <!-- Lista de Serviços -->
        <div>
            <div>                      
                <table class="w-75">
                    <thead>
                        <th>Abre As</th>
                        <th>Fecha As</th>
                        <th>Dias de Trabalho</th>
                        <th>Primeiro Dia da Semana</th>
                    </thead>
                    <tbody id="service-table">
                        <tr>
                            <td><input type="time" name="" id="start-work"></td>
                            <td><input type="time" name="" id="end-work"></td>
                            <td id="day-work-select">
                                <div class="chk-box">
                                    <Label>D</Label>
                                    <input type="checkbox">
                                </div>
                                <div class="chk-box">
                                    <Label>S</Label>
                                    <input type="checkbox">
                                </div>
                                <div class="chk-box">
                                    <Label>T</Label>
                                    <input type="checkbox">
                                </div>
                                <div class="chk-box">
                                    <Label>Q</Label>
                                    <input type="checkbox">
                                </div>
                                <div class="chk-box">
                                    <Label>Q</Label>
                                    <input type="checkbox">
                                </div>
                                <div class="chk-box">
                                    <Label>S</Label>
                                    <input type="checkbox">
                                </div>
                                <div class="chk-box">
                                    <Label>S</Label>
                                    <input type="checkbox">
                                </div>
                            </td>

                            <td id="first-day-radio">
                                <div class="chk-box">
                                    <Label>D</Label>
                                    <input type="radio" name="first-day" id="0">
                                </div>
                                <div class="chk-box">
                                    <Label>S</Label>
                                    <input type="radio" name="first-day" id="1">
                                </div>
                                <div class="chk-box">
                                    <Label>T</Label>
                                    <input type="radio" name="first-day" id="2">                                
                                </div>
                                <div class="chk-box">
                                    <Label>Q</Label>
                                    <input type="radio" name="first-day" id="3">
                                </div>
                                <div class="chk-box">
                                    <Label>Q</Label>
                                    <input type="radio" name="first-day" id="4">
                                </div>
                                <div class="chk-box">
                                    <Label>S</Label>
                                    <input type="radio" name="first-day" id="5">
                                </div>
                                <div class="chk-box">
                                    <Label>S</Label>
                                    <input type="radio" name="first-day" id="6">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <hr>
        </div>

        <!-- Botões de Contexto-->
        <Button id="btn_save-to-database">Salvar Alterações</Button>
    </main>
</body>
</html>